<section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Shubham
                        <span class="text-primary">Mishra</span>
                    </h1>
                    <div class="subheading mb-5">
                        Waterloo, Ontario, Canada    |  (317) 585-8468 |
                        <a href="mailto:name@email.com">mishrashubhamx@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                    <div class="social-icons">
                        <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/shubham-mishra-canada/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" target="_blank" href="https://github.com/mishsx"><i class="fab fa-github"></i></a>
                        <a class="social-icon" target="_blank" href="https://stackoverflow.com/users/7841468/mishsx?tab=profile"><i class="fab fa-stack-overflow"></i></a>
                        
                    </div>
                </div>
</section>