<section class="resume-section" id="experience">
                <div class="resume-section-content">
                    
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Basic Tetris game</h3>
                            <div class="subheading mb-3">Tech Stack: JavaScript</div>
                            <p>Vintage childhood game made using vanilla JavaScript.
                                <br>
                                Experience it <a target="blank" href="https://github.com/mishsx/basic-tetris-game"> here</a>
                                by cloning the repository.
                                
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Calculator Mobile Application</h3>
                            <div class="subheading mb-3">Tech Stack: Swift</div>
                            <p>A clean mobile IOS application made using Storyboards in XCode.
<br>
                                Experience it <a target="blank" href="https://github.com/mishsx/CalculatorApp"> here</a>
                                by cloning the repository.

                            </p>
                        </div>
                        
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Password Strength Tester</h3>
                            <div class="subheading mb-3">Tech Stack: JavaScript</div>
                            <p>A web based application that tells you how strong your password is.
<br>
                                Experience it <a target="blank" href="https://github.com/mishsx/JS-password-strength-tester"> here</a>
                                by cloning the repository.


                            </p>
                        </div>
                        
                    </div>

                </div>
            </section>