<section class="resume-section" id="experience">
                <div class="resume-section-content">
                    
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Software Engineer</h3>
                            <div class="subheading mb-3">Betsol Inc. Ltd.</div>
                            <p>Worked on improving performance on an array of ASP.NET based web portals. Also part of migrating the codebase to React.js </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2020 - July 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Associate Software Engineer</h3>
                            <div class="subheading mb-3">Betsol Inc. Ltd.</div>
                            <p>Worked on migrating legacy codebase of an agent performance metric portal in Classic ASP to .NET codebase.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">July 2018 - January 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Application Developer Intern</h3>
                            <div class="subheading mb-3">FireEye Cybersecurity Pvt. Ltd.</div>
                            <p>Developed an Order automation tool, a Spring MVC based web application that increased the process efficiency by 50%</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2017 - July 2017</span></div>
                    </div>

                </div>
            </section>